---
import { Image } from "astro:assets";
import icon from "../images/better-studres-icon.svg";
import cloudDownload from "../images/icons/cloud-download.svg";
import code from "../images/icons/code.svg";
import fileStack from "../images/icons/file-stack.svg";
import github from "../images/icons/github.svg";
import moon from "../images/icons/moon.svg";
import pin from "../images/icons/pin.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Better studres">
  <main class="max-w-screen-lg mx-auto">
    <section class="min-h-screen flex flex-col justify-center">
      <Image src={icon} class="m-[-10px]" alt={"Better studres logo"} />
      <h1 class="font-bold text-6xl">Better Studres</h1>
      <p>
        Browser extension to improve your Studres experience. <br /> New sleek design
        and tools for enhanced productivity.
      </p>
    </section>
    <section class="min-h-screen flex flex-col justify-center gap-10">
      <div class="">
        <h2 class="font-bold text-4xl">New Features</h2>
        <p>Boost your productivity</p>
      </div>
      <div class="grid grid-cols-3 gap-16">
        <div>
          <Image src={cloudDownload} alt="" class="w-9 h-9" />
          <h3 class="text-xl font-bold">File Downloads</h3>
          <p>
            Download files instantly with just a right click. No SSH setup or
            cookies, just quick and easy access to material.
          </p>
        </div>
        <div>
          <Image src={fileStack} alt="" class="w-9 h-9" />
          <h3 class="text-xl font-bold">File management</h3>
          <p>
            Organize with tags and notes, find any visited folder with search in
            command pallet.
          </p>
        </div>
        <div>
          <Image src={moon} alt="" class="w-9 h-9" />
          <h3 class="text-xl font-bold">Dark mode</h3>
          <p>
            Reduce eye strain and get a comfortable viewing experience,
            especially in low-light settings.
          </p>
        </div>
        <div>
          <Image src={code} alt="" class="w-9 h-9" />
          <h3 class="text-xl font-bold">Code highlighting</h3>
          <p>Syntax highlighting for clearer and faster code understanding.</p>
        </div>
        <div>
          <Image src={pin} alt="" class="w-9 h-9" />
          <h3 class="text-xl font-bold">Pinned links</h3>
          <p>
            Pin your most frequently used links at the top for easy and quick
            navigation whenever you need them.
          </p>
        </div>
        <div>
          <Image src={github} alt="" class="w-9 h-9" />
          <h3 class="text-xl font-bold">Fully open source</h3>
          <p>
            Transparent, community-driven development with code you can trust.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
