---
import { Image } from "astro:assets";
import Feature from "../components/Feature.astro";
import IconLink from "../components/IconLink.astro";
import icon from "../images/better-studres-icon.svg";
import chromeIcon from "../images/chrome.svg";
import firefoxIcon from "../images/firefox.svg";
import cloudDownload from "../images/icons/cloud-download.svg";
import code from "../images/icons/code.svg";
import fileStack from "../images/icons/file-stack.svg";
import github from "../images/icons/github.svg";
import moon from "../images/icons/moon.svg";
import pin from "../images/icons/pin.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Better studres">
  <main class="max-w-screen-lg mx-auto px-5">
    <section class="min-h-screen flex flex-col justify-center space-y-4">
      <Image src={icon} class="m-[-10px]" alt={"Better studres logo"} />
      <div class="space-y-2">
        <h1 class="font-bold text-6xl">Better Studres</h1>
        <p>
          Browser extension to improve your Studres experience. <br /> New sleek
          design and tools for enhanced productivity.
        </p>
      </div>
      <div class="flex space-x-2">
        <IconLink
          src={chromeIcon}
          href="https://chromewebstore.google.com/detail/better-studres/kamnhbpjhhhjlbandgpngdnplledombg"
          >Chrome</IconLink
        >
        <IconLink
          src={firefoxIcon}
          href="https://addons.mozilla.org/en-GB/firefox/addon/better-studres/"
          >Firefox</IconLink
        >
      </div>
    </section>
    <section class="min-h-screen flex flex-col justify-center gap-10">
      <div class="">
        <h2 class="font-bold text-4xl">New Features</h2>
        <p>Boost your productivity</p>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
        <Feature
          image={cloudDownload}
          header="File Downloads"
          description="Download files instantly with just a right click. No SSH setup or cookies, just quick and easy access to material."
        />

        <Feature
          image={fileStack}
          header="File management"
          description="Organize with tags and notes, find any visited folder with search in command pallet."
        />

        <Feature
          image={moon}
          header="Dark mode"
          description="Reduce eye strain and get a comfortable viewing experience, especially in low-light settings."
        />

        <Feature
          image={code}
          header="Code highlighting"
          description="Syntax highlighting for clearer and faster code understanding."
        />

        <Feature
          image={pin}
          header="Pinned links"
          description="Pin your most frequently used links at the top for easy and quick navigation whenever you need them."
        />

        <Feature
          image={github}
          header="Fully open source"
          description="Transparent, community-driven development with code you can trust."
        />
      </div>
    </section>
  </main>
</Layout>
