---
import { Image } from "astro:assets";
import IconLink from "../components/IconLink.astro";
import icon from "../images/better-studres-icon.svg";
import chromeIcon from "../images/chrome.svg";
import firefoxIcon from "../images/firefox.svg";
import logoSad from "../images/logo-sad.svg";
import oldDesign from "../images/old-design.png";
import polygonBg from "../images/polygon-bg.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Better studres">
  <main>
    <section class="min-h-screen lg:grid lg:grid-cols-2">
      <div class="place-content-center grid min-h-screen">
        <div class="max-w-md m-3 space-y-4">
          <Image
            src={icon}
            alt={"Better studres logo"}
            class="m-[-10px]"
            loading={"eager"}
          />
          <div class="space-y-1">
            <h1 class="font-bold text-6xl">Better studres</h1>
            <p class="leading-6">
              Browser extension to improve your Studres experience.
              <br />
              New sleek design and tools for enhanced productivity.
            </p>
          </div>
          <div class="flex space-x-2">
            <IconLink
              src={chromeIcon}
              href="https://chromewebstore.google.com/detail/better-studres/kamnhbpjhhhjlbandgpngdnplledombg"
              >Chrome</IconLink
            >
            <IconLink
              src={firefoxIcon}
              href="https://addons.mozilla.org/en-GB/firefox/addon/better-studres/"
              >Firefox</IconLink
            >
          </div>
        </div>
      </div>
      <div class="hidden lg:block">
        <div class="relative w-full h-full overflow-hidden">
          <Image
            loading={"eager"}
            src={polygonBg}
            alt={""}
            class="absolute top-0 left-0 w-full h-full object-cover"
          />
          <div
            class="bg-gradient-to-tr from-white to-transparent absolute top-0 left-0 w-full h-full"
          >
          </div>
        </div>
      </div>
    </section>
    <section class="min-h-96 lg:grid lg:grid-cols-2">
      <div class="grid place-content-center space-y-3">
        <Image src={logoSad} alt="" class="m-[-10px]" />
        <h2 class="text-4xl font-bold max-w-[450px]">
          Fed up with navigating that outdated and clunky UI?
        </h2>
      </div>
      <div class="grid justify-center items-end">
        <Image
          src={oldDesign}
          alt="old design"
          height={300}
          class="shadow-lg rounded-t-2xl"
        />
      </div>
    </section>
  </main>
</Layout>
