---
import { Image } from "astro:assets";
import IconLink from "../components/IconLink.astro";
import icon from "../images/better-studres-icon.svg";
import chromeIcon from "../images/chrome.svg";
import firefoxIcon from "../images/firefox.svg";
import newDesign from "../images/new-design.png";
import oldDesign from "../images/old-design.png";
import polygonBg from "../images/polygon-bg.png";
import FeatureSection from "../layouts/FeatureSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Better studres">
  <main>
    <section class="min-h-screen lg:grid lg:grid-cols-2">
      <div class="place-content-center grid min-h-screen">
        <div class="max-w-md m-3 space-y-4">
          <Image
            src={icon}
            alt={"Better studres logo"}
            class="m-[-10px]"
            loading={"eager"}
          />
          <div class="space-y-1">
            <h1 class="font-bold text-6xl">Better studres</h1>
            <p class="leading-6">
              Browser extension to improve your Studres experience.
              <br />
              New sleek design and tools for enhanced productivity.
            </p>
          </div>
          <div class="flex space-x-2">
            <IconLink
              src={chromeIcon}
              href="https://chromewebstore.google.com/detail/better-studres/kamnhbpjhhhjlbandgpngdnplledombg"
              >Chrome</IconLink
            >
            <IconLink
              src={firefoxIcon}
              href="https://addons.mozilla.org/en-GB/firefox/addon/better-studres/"
              >Firefox</IconLink
            >
          </div>
        </div>
      </div>
      <div class="hidden lg:block">
        <div class="relative w-full h-full overflow-hidden">
          <Image
            loading={"eager"}
            src={polygonBg}
            alt={""}
            class="absolute top-0 left-0 w-full h-full object-cover"
          />
          <div
            class="bg-gradient-to-tr from-white to-transparent absolute top-0 left-0 w-full h-full"
          >
          </div>
        </div>
      </div>
    </section>
    <section class="min-h-[175vh] relative">
      <div class="sticky top-0 min-h-screen z-10">
        <div class="w-full grid justify-center px-3 text-center space-y-2 py-6">
          <h2 class="text-4xl font-bold">Improved UI</h2>
          <p class="max-w-prose">
            Completely overhauled for a smoother user experience.
          </p>
        </div>
        <Image
          src={oldDesign}
          alt={"old desing of studres"}
          class="absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 z-0"
        />
      </div>
      <div class="fixed top-3 left-4 z-50" id="rainbow-bar">
        dasdsadsadsadsa
      </div>
      <script>
        document.addEventListener("scroll", function () {
          const image = document.getElementById("new-design");
          const rainbowBar = document.getElementById("rainbow-bar");
          if (!image || !rainbowBar) {
            return;
          }
          const boundingRect = image.getBoundingClientRect();
          const imageTop = boundingRect.top;
          const imageBottom = boundingRect.bottom;

          const windowHeight = document.documentElement.clientHeight;

          const isImageTouchingBottom =
            imageTop < windowHeight && windowHeight < imageBottom;
          if (isImageTouchingBottom) {
            rainbowBar.classList.remove("hidden");
          } else {
            rainbowBar.classList.add("hidden");
          }
        });
      </script>
      <div class="w-full justify-center flex">
        <Image
          src={newDesign}
          alt={"new desing of studres"}
          id="new-design"
          class={"z-20 rounded-3xl"}
        />
      </div>
    </section>
    <FeatureSection />
  </main>
</Layout>
